<div class="container mt-5">
   <div classs="row justify-content-center">
    <div class="col-md-10">
        <h2><span class="bg-dark text-light" >通報一覧</span></h2>
        <table class="table table-hover table-inverse", style="table-layout:fixed;width:100%;">
         <tbody>
          <tr>
           <td>通報ID</td>
           <td><%= @report.id %></td>
          </tr>
          <tr>
           <td>名前</td>
           <td>
            <%= link_to admin_user_path(@report.reported_id) do %>
            <%= @report.reported.name %>
            <% end %>
            </td>
          </tr>
          <tr>
           <td>理由</td>
           <td><%= @report.reason %></td>
          </tr>
          <tr>
           <td>URL等</td>
           <td><%= @report.url %></td>
          </tr>
          <tr>
           <td>通報者</td>
           <td><%= @report.reporter.name %></td>
          </tr>
          <tr>
           <td>対応ステータス</td>
           <td><%= @report.status_i18n %>
               <%= form_with model: @report, url: admin_report_path(@report), method: :patch ,local: true do |f| %>
               <%= f.select :status, Report.statuses.keys.map { |k| [t("enums.report.status.#{k}"), k] } %>
               <%= f.submit "更新" %>
               <% end %>
           </td>
          </tr>
         </tbody>
         
         
          <%= paginate @reports %>
        </table>
        <%= flash[:notice] %>
    </div>
   </div>
 </div>