<div class="container px-sm-0 px-5 w-100 mr-4">
  <div class="row my-4">
    <h3><span class="bg-dark text-light">カテゴリー一覧・追加</span></h3>
  </div>
  <div class="row px-sm-0 px-5">
    <div class="col-md-6 px-5 px-sm-0">
      <%= render "admin/shared/error_messages", resource: @category %>
      <%= form_with model: @category, url: admin_categories_path do |f| %>
      <table class="table table-border border-dark">
        <tbody>
            <tr>
              <th>カテゴリー名</th>
              <td><%= f.text_field :name, class:"form-control" %></td>
              <td><%= f.submit '新規作成', class:"btn btn-success" %></td>
              <td></td>
            </tr>
        </tbody>
      </table>
      <% end %>
    </div>
  </div>

  <div class="row px-sm-0 px-5">
    <div class="col-md-5 px-5 px-sm-0">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>カテゴリー</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @categories.each do |category| %>
            <tr>
              <td><%= category.name %></td>
              <td><%= link_to "編集する", edit_admin_category_path(category), class: "btn btn-sm btn-success" %></td>
              <td><%= link_to "削除する", admin_category_path(category), method: :delete, class: "btn btn-sm btn-danger" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
