<div class="container mt-3"> 
   
        <div class="row mt-4 ml-5">
            <div class="col-md-3 offset-md-3">
             <h3 class="ml-4"><span class="bg-dark text-light">ユーザー情報</span></h3> 
            </div>
        </div>
    <div class="row mt-3">
        <div class="col-md-8 offset-md-1">
            <table class="table table-border table-dark">
                <tr>
                    <td class="text-center pt-4">プロフィール画像</td>
                    <td><%= image_tag @user.get_profile_image(50,50) %></td>
                </tr>
                <tr>
                    <td class="text-center">名前</td>
                    <td><%= @user.name %></td>
                </tr>
                <tr>
                    <td class="text-center">自己紹介</td>
                    <td><%= @user.introduction %></td>
                </tr>
            </table>
            <%= form_with model: @user, url: admin_user_path(@user.id), method: :patch, local: true do |f| %>
            <tr>
              <th><%= f.label :is_active, "ユーザステータス" %></th>
              <td>
                <%= f.radio_button :is_active, true %>
                <strong><%= f.label :is_active_true, "有効"%></strong>
                <%= "　　"%>
                <%= f.radio_button :is_active, false %>
                <strong style="color: gray;"><%= f.label :is_active_false, "退会"%></strong>
              </td>
            </tr>
            <div class="text-right"><%= f.submit "編集内容を保存", class: "btn btn-danger text-right" %></div>
            <% end %>
             
             <div class="text-right"><%= link_to ">>いいね投稿一覧", favorites_user_path(@user) %></div>
        </div>
    </div>
</div>

