<!DOCTYPE html>
<html>
  <head>
    <title>FPS</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/76f838f2af.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
      <div class="container">
        <a class="navbar-brand" href="/">
          <%= image_tag asset_path("icons8-fps-64.png"), width: '120px' %>
        </a>
          <ul class="navbar-nav ml-auto">
            <% if admin_signed_in? %>
            <p class="text-weight-bold"><span class="bg-light mr-4">管理者用ページ</span></p>
              <li class='nav-item'>
                <%= link_to '投稿一覧', admin_posts_path, class: 'btn btn-light mr-2' %>
              </li>
              <li class='nav-item'>
                <%= link_to 'ユーザ一覧', admin_users_path, class: 'btn btn-light mr-2' %>
              </li>
              <li class='nav-item'>
                <%= link_to 'カテゴリー一覧', admin_categories_path, class: 'btn btn-light mr-2' %>
              </li>
              <li class='nav-item'>
                <%= link_to '通報一覧', admin_reports_path, class: 'btn btn-light mr-2' %>
              </li>
              <li class='nav-item'>
                <%= link_to 'ログアウト', destroy_admin_session_path, class: 'btn btn-light' %>
              </li>
            <% elsif user_signed_in? %>
              <li class="nav-item">
                <%= link_to user_path(current_user), class: 'btn btn-light' do %>
                <span><i class="fa-solid fa-user fa-bounce"></i>マイページ</span>
                <% end %>
              </li>
              <li class="nav-item ml-2">
                <%= link_to posts_path, class: "btn btn-light" do %>
                <span><i class="fa-solid fa-book fa-beat"></i>投稿一覧</span>
                <% end %>
              </li>
              <li class="nav-item ml-2">
                <%= link_to  new_post_path, class: "btn btn-light" do %>
                <span><i class="fa-solid fa-marker fa-shake"></i>投稿する</span>
                <% end %>
              </li>
              <li class="nav-item ml-2">
                <%= link_to notifications_path, class: "btn btn-light" do %>
                  <% if current_user.notifications.where(checked: false).exists? %>
                   <i class="fa-sharp fa-solid fa-bell fa-beat" style="color: #f2ee7d;"></i>
                  <% else %>
                   <i class="fa-sharp fa-solid fa-bell"></i>
                   <% end %>
                   通知一覧
                <% end %>
              </li>
              <li class="nav-item ml-2">
                <%= link_to destroy_user_session_path, class: "btn btn-light mr-3" do %>
                <span><i class="fa-solid fa-right-from-bracket"></i>ログアウト</span>
                <% end %>
              </li>
              <%= render "layouts/search" %>
            <% else %>
              <li class="nav-item mr-2">
                <%= link_to 'About', about_path, class: "btn btn-light" %>
              </li>
              <li class="nav-item mr-2">
                <%= link_to '投稿一覧', posts_path, class: "btn btn-light" %>
              </li>
              <li class="nav-item mr-2">
                <%= link_to '新規登録', new_user_registration_path, class: "btn btn-light" %>
              </li>
              <li class="nav-item mr-2">
                <%= link_to 'ログイン', new_user_session_path, class: "btn btn-light" %>
              </li>
              <li class="nav-item mr-2">
                <%= link_to '管理者ログイン', new_admin_session_path, class: "btn btn-light" %>
              </li>
              <li class="nav-item mr-0">
                <%= link_to "ゲストログイン（閲覧用）", users_guest_sign_in_path, {method: "post", class: "btn btn-light "} %>
              </li>
            <% end %>
          </ul>
        </div>
    </nav>
    
    <% if user_signed_in? %>
    <div class="row">
      <div class="col-md-2 mt-5">
        <%= render "public/searches/category_search" %>
      </div>
    <% end %>
        <%= yield %>
    </div>
    
    <div class='container py-3 mb-5 mt-5'></div>
      <footer class="fixed-bottom text-center">
        <div class="container">
          <p style="color: #aaa;">&copy; 2023 FPS BEGINNER</p>
        </div>
      </footer>
  </body>
</html>


