<!DOCTYPE html>
<html>
  <head>
    <title>FPS</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
      <div class="container">
        <a class="navbar-brand" href="/">
          <%= image_tag "gun.jpeg", width: '120px' %>
        </a>
          <ul class="navbar-nav ml-auto">
            <% if admin_signed_in? %>
              <li class='nav-item'>
                <%= link_to '商品一覧', admin_items_path, class: 'btn btn-light' %>
              </li>
              <li class='nav-item'>
                <%= link_to '会員一覧', admin_customers_path, class: 'btn btn-light' %>
              </li>
              <li class='nav-item'>
                <%= link_to '注文履歴一覧', admin_path, class: 'btn btn-light' %>
              </li>
              <li class='nav-item'>
                <%= link_to 'ジャンル一覧', admin_genres_path, class: 'btn btn-light' %>
              </li>
              <li class='nav-item'>
                <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: 'btn btn-light' %>
              </li>
            <% elsif user_signed_in? %>
              <li class="nav-item">
                <%= link_to 'マイページ', "/", class: 'btn btn-light' %>
              </li>
              <li class="nav-item">
                <%= link_to '投稿一覧', posts_path, class: "btn btn-light" %>
              </li>
              <li class="nav-item">
                <%= link_to '投稿する', new_post_path, class: "btn btn-light" %>
              </li>
              <li class="nav-item">
                <%= link_to 'ログアウト', destroy_user_session_path, class: "btn btn-light mr-3" %>
              </li>
            <% else %>
              <li class="nav-item mr-2">
                <%= link_to 'About', about_path, class: "btn btn-light" %>
              </li>
              <li class="nav-item mr-2">
                <%= link_to '投稿一覧', posts_path, class: "btn btn-light" %>
              </li>
              <li class="nav-item mr-2">
                <%= link_to '新規登録', new_user_registration_path, class: "btn btn-light" %>
              </li>
              <li class="nav-item mr-2">
                <%= link_to 'ログイン', new_user_session_path, class: "btn btn-light" %>
              </li>
              <li class="nav-item mr-0">
                <%= link_to "ゲストログイン（閲覧用）", users_guest_sign_in_path, {method: "post", class: "btn btn-light "} %>
              </li>
            <% end %>
          </ul>
        </div>
    </nav>
    
    <%= yield %>
    <div class='container py-3 mb-5 mt-5'></div>
      <footer class="fixed-bottom text-center">
        <div class="container">
          <p style="color: #aaa;">&copy; 2023 FPS BEGINNER</p>
        </div>
      </footer>
  </body>
</html>


